@import "~bootstrap-icons/font/bootstrap-icons.css";

/* *{
} */

.main-page{
  padding: 1rem 2rem;
  background-color: rgba(248, 249, 250, 1);
  height: 100vh;
}

.banner{
  width: 100%;
}

.banner .header{
  top:0;
  width: 100%;
  padding: 0 1rem;
}

.aligns{
  display: inline-block;
}

.banner .header .text1{
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.banner .header .text2{
  font-size: 14px;
  float: right;

}

.banner .header .text2 .righty{
  margin: 0 1rem;
  display: inline-block;
}

input{
  border-radius: 12px;
}

.banner .header .text2 .righty p{
  margin: 0;
  color: gray;
  cursor: pointer;
}

.content{
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  text-align: left;
  background: white;
  border-radius: 15px;
}

.content p{
  font-size: 1.2rem;
  font-weight: 700;
  color: gray;
  margin: 5px;
}

.form-area label{
  margin-top: 1.5rem;
  font-size: 14px;
  font-weight: 500;
}

.form-area input{
  border-radius: 12px;
  width: 80%;
  text-align:left;
}

.form-area button{
  background: white;
  width:50px;
  border-radius: 10px;
  margin-right: 1rem;
  height: 2rem;
  border:none
}

.button-area{
  margin-top:2rem
}

.button-area button{
  background: rgba(255, 145, 77, 1);
  min-width: 300px;
  padding:0.5rem 2rem;
  border: none;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 12px;
  color: white;
}

.question{
  width: 100%;
}

.question .btn-container .active{
  background: rgba(255, 145, 77, 1);
  color: white;
  font-weight: 600;
}

hr {
  background-color: #fff;
  padding: 0;

}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
